@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;

  .navbar {
    background-color: red;

    .logo {
      width: 130px;
      height: 90px;
    }

    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      cursor: pointer;
      z-index: 1;
    }

    .nav-menu {
      width: 16%;
      height: 96vh;
      padding: 10px;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: -20%;
      transition: all 2s ease;
    }

    .nav-menu-active {
      width: 16%;
      height: 96vh;
      display: flex;
      flex-direction: column;
      padding: 10px;
      transition: all 2s ease;

      .nav-link-active {
        color: #303236;
      }

      ul {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        margin-right: -24px;
        list-style-type: none;

        li {
          margin-top: 5px;
        }
      }

      .nav-btn {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 130px;

        .nav-btn-link {
          display: flex;
          justify-content: center;
          margin-top: 5px;
          border-radius: 4px;
          background: #97bf10;
          padding: 10px 22px;
          color: #fff;
          outline: none;
          border: none;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
          text-decoration: none;
        }

        .nav-btn-link:hover {
          transition: all 0.2s ease-in-out;
          background: #fff;
          color: #303236;
        }
      }
    }
  }
}
